#Ignore build specific files in the directory tree and the symbol database
#and solution files specific to the project. These can just be reacreeated
#locally, and will prevent us from uploading 30mb of data.

CGFramework/Debug
CGFramework/ipch
CGFramework/CGFramework.sdf
CGFramework/CGFramework.suo
CGFramework/CGFramework.opensdf
